@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
.contentAperitif{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ul{
    width: auto;
}

.h2{
    text-decoration: underline;
}