@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
.entreesContent{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.li {
    font-family: "Sevillana";
}
.ul{
    width: auto;
}

.h2{
    font-family: Sevillana;
    text-decoration: underline;
}