@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.PPcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
    width: 40vh;
}

.h2{
    text-decoration: underline;
}